/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif !important;
}

:root {
  --primary-color: #007AC2;
  --primary-dark: #051650;
  --text-light: #fff;
  --shadow-color: rgba(63, 81, 181, 0.4);
}
